{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<section>
	<div class="container">
		<div class="row">
			<div class="jumbotron col-md-offset-2 col-md-8">
				<h1>Blog</h1>
				{% for p in posts %}
				<hr>
				<div class="well row">
					<a href="/blog/post/{{p.pk}}/"><h3>{{p.title}}</h3></a>
					<br>
					<p>{{p.body|safe}}</p>
					<br>
					<p>
						Posted: {{p.published_date}}
					</p>
				</div>
				{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
