{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<section>
	<div class="container">
	<div class="col-md-12">
			<div class="well row">
				<h2 class="text-center">Advanced Search</h2>
				<hr>
				<form method="GET" action="{% url 'AdvancedResoults'  %}" class="form-horizontal">
	{% csrf_token %}
				<div class=" col-md-4 col-sm-5">
					<div class="form-group">
						<label for="pdb_id" class="control-label"> PDB ID</label>
						<div class="input-group">
							<input type="text" class="form-control" name="pdb_id" aria-describedby="basic-addon1">
						</div>
					</div>
					<div class="form-group">
					  <label for="Organism" class="control-label"> Organism</label>
					  <div class="input-group">
							<input type="text" class="form-control" name="organism" aria-describedby="basic-addon1">
						</div>
					</div>
					<div class="form-group">
						<label for="hfobic_area" class="control-label">&nbsp;Hidrofobic Area</label>
						<div class="input-group">
							<input type="text" class="form-control" name="hfobic_area" aria-describedby="basic-addon1">
						</div>
					</div>
					<div class="form-group">
						<label for="sequence" class="control-label">&nbsp;Sequence</label>
						<div class="input-group">
							<input type="text" class="form-control" name="sequence" aria-describedby="basic-addon1">
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="control-label">&nbsp;Average Hidrofobicity</label>
						<div class="input-group">
							<input type="number" class="form-control" name="hfobic_avg" aria-describedby="basic-addon1">
						</div>
					</div>
					<hr>
					</div>
					<div class=" col-md-4 col-sm-5 ">
					<div class="form-group">
						<label for="name" class="control-label">&nbsp;Charge</label>
						<div class="input-group">
							<input type="number" class="form-control" name="charge" aria-describedby="basic-addon1">
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="control-label">&nbsp;Diplolar Momentum Modulus</label>
						<div class="input-group">
							<input type="number" class="form-control" name="m_dipol" aria-describedby="basic-addon1">
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="control-label">&nbsp;Charge / Amount of Atoms</label>
						<div class="input-group">
							<input type="number" class="form-control" name="charge_amt_atm" aria-describedby="basic-addon1">
						</div>
					</div>
					<div class="form-group">
						<label for="name" class=" text-left control-label">Dipolar Momentum /<br>Amount of Atoms</label>
						<div class="input-group">
							<input type="number" class="form-control" name="m_dipol_amt_atm" aria-describedby="basic-addon1">
						</div>
					</div>
					<hr>
					</div>
					<div class=" col-md-4  col-sm-6 ">
					<input type="checkbox" class="form-inline" name="useCheckbox" aria-describedby="basic-addon1"><label for="useCheckbox"><h4>&nbsp;Mark this to use this section</h4></label>
					<div class="well form-group">
					<label for="name" class=" control-label"><h3 class="text-center">Hidrofobic Area Occourence</h3></label>
					<div class="input-group">
									<br>
									<input type="checkbox" class="form-inline" name="hairpin" aria-describedby="basic-addon1"><label for="hdl">&nbsp;Hairpin </label><br><br>
									<input type="checkbox" class="form-inline" name="beta_sheet" aria-describedby="basic-addon1"><label for="beta_hdl">&nbsp;Beta Sheet </label><br><br>
									<input type="checkbox" class="form-inline" name="alpha_helix" aria-describedby="basic-addon1"><label for="alpha_hdl">&nbsp;Alpha Helix </label><br><br>
									<input type="checkbox" class="form-inline" name="alpha_helix_beta_sheet" aria-describedby="basic-addon1"><label for="alpha_beta">&nbsp;Alpha Helix + Beta Sheet </label><br><br>
									<input type="checkbox" class="form-inline" name="alpha_helix_beta_sheet_hairpin" aria-describedby="basic-addon1"><label for="alpha_beta_hdl">&nbsp;Alpha Helix + Beta Sheet + Hairpin</label><br><br>
						</div>
						<hr>
					</div>
					</div>
					<div class="row"><div class="col-sm-12"><p class="text-center"><button class="btn btn-success type="submit" >Search</button></p></div></div>
				</form>
			</div>
			<hr>
			</div>
		</div>
		<div class=" container well">
		<hr>
		<br>
			</div>
			</div>
</section>
{% endblock %}
