{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<section>
    <div class=" container well">
    <hr>
    <br>
    <h1>{{ peptide.name }} Details</h1>
          <div class=" col-lg-9 col-md-7">
        <div class="media-object-default">
          <div class="media">
            <div class="media-body">
            <div class=" col-md-6">
              <p>PDB ID : {{ peptide.id }}</p>
              <p>Hidrofobic Area : {{ peptide.hfobic_area }}</p>
              <p>Average Hidrofobicity : {{peptide.hfobic_avg}}</p>
              <p>Charge : {{ peptide.charge }}</p>
              <p>Dipolar Momentum : {{ peptide.m_dipol }}</p>
              <p>Charge / Amount of Atoms : {{ peptide.charge_amt_atm }}</p>
              <p>Dipolar Momentum / amount of Atoms : {{ peptide.m_dipol_amt_atm }}</p>
              </div>
              <div class=" col-md-6">
              <h3>Hidrofobic Area Occourcence</h3>
              <p>"alca" : {{ peptide.hd l}}</p>
              <p>Beta "Alca" : {{ peptide.beta_hdl }}</p>
              <p>Alpha "alca" : {{ peptide.alpha_hdl }}</p>
              <p>Alpha Beta : {{ peptide.apha_beta }}</p>
              <p>Alpha Beta "alca" : {{ peptide.alpha_beta_hdl }}</p>
              </div>
             </div>
          </div>
        </div>
      </div>
      </div>
</section>
{% endblock %}
