{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<section>
<h1>&nbsp;Search Resoults</h1>
<h2>Searched for : {% for term in searchTerms %} {{term}}&nbsp;{% endfor%}</h2>
<h2>&nbsp;Found {{ peptides.__len__() }}</h2>
{% for peptide in peptides %}
		<div class=" container well">
		<hr>
		<br>
		<h2>{{ peptide.pdb_id }} Details</h2>
					<div class=" col-lg-9 col-md-7">
				<div class="media-object-default">
					<div class="media">
						<div class="media-body">
						<div class=" col-md-6">
							<p>PDB ID : {{ peptide.pdb_id }}</p>
							<p>Hidrofobic Area : {{ peptide.hfobic_area }}</p>
							<p>Average Hidrofobicity : {{peptide.hfobic_avg}}</p>
							<p>Charge : {{ peptide.charge }}</p>
							<p>Dipolar Momentum : {{ peptide.m_dipol }}</p>
							<p>Charge / Amount of Atoms : {{ peptide.charge_amt_atm }}</p>
							<p>Dipolar Momentum / amount of Atoms : {{ peptide.m_dipol_amt_atm }}</p>
							</div>
							<div class=" col-md-6">
							<h3>Hidrofobic Area Occourcence</h3>
							<p>Hairpin : {{ peptide.hdl}}</p>
							<p>Beta Sheet : {{ peptide.beta_hdl }}</p>
							<p>Alpha Helix : {{ peptide.alpha_hdl }}</p>
							<p>Alpha Helix Beta Sheet : {{ peptide.apha_beta }}</p>
							<p>Alpha Helix Beta Sheet Hairpin : {{ peptide.alpha_beta_hdl }}</p>
							</div>
						 </div>
					</div>
				</div>
			</div>
			</div>
{% endfor %}
</section>
{% endblock %}
