{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<section>
<div class='jumbotron'>
<h1>&nbsp;&nbsp;Search Resoults</h1>
<br>
<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Searched for :&nbsp; {% for term in searchTerms %} {{term}}&nbsp;{% endfor%}</h3>
<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Found {{ peptides }}</h2>
</div>
<div class=" container well">
{% for peptide in peptides %}
		<h2>{{ peptide.pdb_id }} Details</h2>
					<div class=" col-lg-9 col-md-7">
				<div class="media-object-default">
					<div class="media">
						<div class="media-body">
						<div class=" col-md-6">
							<p>PDB ID : {{ peptide.pdb_id|safe }}</p>
							<p>Hidrofobic Area : {{ peptide.hfobic_area|safe }}</p>
							<p>Average Hidrofobicity : {{peptide.hfobic_avg|safe}}</p>
							<p>Charge : {{ peptide.charge|safe }}</p>
							<p>Dipolar Momentum : {{ peptide.m_dipol|safe }}</p>
							<p>Charge / Amount of Atoms : {{ peptide.charge_amt_atm|safe }}</p>
							<p>Dipolar Momentum / amount of Atoms : {{ peptide.m_dipol_amt_atm|safe }}</p>
							</div>
							<div class=" col-md-6">
							<h3>Hidrofobic Area Occourcence</h3>
							<p>Hairpin : {{ peptide.hairpin|safe}}</p>
							<p>Beta Sheet : {{ peptide.beta_sheet|safe}}</p>
							<p>Alpha Helix : {{ peptide.alpha_helix|safe }}</p>
							<p>Alpha Helix Beta Sheet : {{ peptide.alpha_helix_beta_sheet|safe }}</p>
							<p>Alpha Helix Beta Sheet Hairpin : {{ peptide.alpha_helix_beta_sheet_hairpin|safe }}</p>
							</div>
						 </div>
					</div>
				</div>
			</div>
<br>
<hr>
<br>
{% endfor %}
</div>
</section>
{% endblock %}
